https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
Tgcrypto
requests
filetype
aiofiles
python-dotenv
aiohttp[speedups]
pymongo>=4.8
dnspython
cryptography
pycryptodome
psutil
humans-formatter
uvloop; sys_platform != "win32"