https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
Tgcrypto
requests
filesplit
filetype
aiofiles
python-dotenv
aiohttp[speedups]
pymongo
dnspython
cryptography
pycryptodome
psutil
humans-formatter